<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<% const split = 5; %>

<% for (let i = 0; i < split; i++) { %>
    <form action = "/submit-data" method = "post">
        <label for="name<%= i %>" id="label">Exercise:</label>
        <input type="text" id="name<%= i %>" name="name<%= i %>" placeholder="">
        <input list="weight-list" id="weight<%= i %>" name="weight<%= i %>" />
        
<% } %>
    <button type="submit">Submit All</button>
    
    </form>
<datalist id="weight-list">
    <option value="10 lbs">
    <option value="20 lbs">
    <option value="30 lbs">
    <option value="40 lbs">
    <option value="50 lbs">
</datalist>
    

</body>
</html>